<div class="form-group form-horizontal">
	<label for="field-{{ field['name'] }}" class="col-sm-2 control-label">{{ field['name'] }}</label>
	<div class="col-sm-10">
		<input type="text" name="{{ field['name'] }}" id="field-{{ field['name'] }}" value="{{ value }}" class="form-control">
	</div>
</div>

