<div data-description="{{ data['description'] }}"  data-name="{{ data['name'] }}" data-type="{{ data['module'] }}" data-id="{{ data['ID'] }}" class="input-item">
	{{ data['description'] }} <em>[{{ data['name'] }}]</em>
	
	<span class="badge">{{ data['module'] }}</span>
</div>